<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username , :value => (@redirected_from_ominauth ? @user.display_name.downcase.gsub(" ","") : "")   %>
  </div>
  <div class="field">
    <%= f.label :display_name %><br>
    <%= f.text_field :display_name %>
  </div>
  <% if @user.remote_avatar_url.present? %>
  <div class="field">
   <%= f.label :Avatar %><br>
   <%= image_tag @user.remote_avatar_url %>
   </div>
   <%else %>
    <div class="field">
   <%= f.label "Default Avatar" %><br>
   <%= image_tag 'default.jpeg'%>
   </div>

  <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
