<div class="row">
  <div class="medium-4 columns">
    <%= render "menu" %>
  </div>
  <div class="medium-8 columns">
    <h3>Profile</h3>
    <%= form_for(@user,:html => { :multipart => true },:method=>:post,:url=>settings_update_image_path) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="small-8">

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Avatar</label>
            </div>
            <div class="small-9 columns">
              <%if @user.avatar_file_name!='default.jpeg'%>
                <%= link_to image_tag(@user.avatar),"javascript:void(0)",:id=>'upload_photo' %>
              <% elsif @user.remote_avatar_url.present?%>
                 <%=link_to image_tag(@user.remote_avatar_url),"javascript:void(0)",:id=>'upload_photo' %>
            
           <%else %>
             <%= link_to image_tag('default.jpeg'),"javascript:void(0)",:id=>'upload_photo' %>
          <%end%>
             <br/>
             <div class="hide"><%= f.file_field :avatar,:id=>"photo" %><div>
            <%#= f.hidden_field :avatar, :id => "hidden_filename" %>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Full name</label>
            </div>
            <div class="small-9 columns">
              <%= f.text_field :username , :value => @user.username %>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Location</label>
            </div>
            <div class="small-9 columns">
              <%= f.text_field :location , :value => @user.location ? @user.location : ""%>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Bio</label>
            </div>
            <div class="small-9 columns">
             <%= f.text_area :bio , :value => @user.bio ? @user.bio : ""%>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Birthday</label>
            </div>
            <div class="small-9 columns">
              <%= f.text_field :birthday , :value => @user.birthday ? @user.birthday : "",:class=>'datepicker1'%>
            </div>
          </div>

          <div class="actions">
            <%= f.submit %>
          </div>

        </div>
      </div>
    <%end%>

    
  </div>
</div>
<style>
  .hide{
    display:none;
  }
</style>
